#This workflow is used to create a new EC2 instance in the AWS 'us-east-1' region
#
name: Create new EC2 instance

on:
  repository_dispatch:
    types: [create-ec2]
    inputs:
      ec2_name:
        description: 'Enter name of the EC2'
        required: true
      ami_id:
        description: 'Enter AMI id for the EC2'
        required: true
      instance_type:
        description: 'Enter EC2 instance type(Eg: t3.small)'
        required: true
env:
  AWS_REGION : ${{ secrets.AWS_REGION }}
# permission can be added at job level or workflow level
permissions:
  id-token: write   # This is required for requesting the JWT
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - run: echo "Triggering creation of EC2 Instance"
      # - name: Checkout
      #   uses: actions/checkout@v2
        
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
          role-session-name: samplerolesession
          aws-region: ${{ env.AWS_REGION }}
#      - name: Configure AWS credentials
#        run: |
#          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws configure set region ${{ secrets.AWS_REGION }}

      - name: Create EC2 instance
        run: |
          aws ec2 run-instances \
            --image-id ${{ github.event.inputs.ami_id }} \
            --instance-type ${{ github.event.inputs.instance_type }} \
            --key-name '${{ secrets.KEY_PAIR_NAME }}' \
            --region us-east-1 \
            --subnet-id ${{ secrets.SUBNET_ID }} \
            --security-group-ids ${{ secrets.SECURITY_GROUP_ID }} \
            --tag-specifications 'ResourceType=instance,Tags=[{Key=Name,Value=github_wf_${{ github.event.inputs.ec2_name }}}]' \
            --iam-instance-profile Name=${{ secrets.IAM_INSTANCE_PROFILE }} \
            --count 1 \
            --no-verify-ssl &>/dev/null
      #     instance_id=$(aws ec2 run-instances ... | jq -r '.Instances[0].InstanceId')
      #     echo "INSTANCE_ID=$instance_id" >> $GITHUB_ENV

      # - name: Use Instance ID
      #   needs: Create EC2 instance
      #   run: |
      #     echo "The instance ID is $INSTANCE_ID"

#      - name: Save Instance ID
#        run: |
#          # Replace this command with how you obtain the instance ID in your workflow
#          instance_id=$(aws ec2 run-instances ... | jq -r '.Instances[0].InstanceId')
#          echo "::set-output name=instance_id::$instance_id"
#        id: instance_id
#
#      - name: Upload Artifact
#        uses: actions/upload-artifact@v3
#        with:
#          name: instance-id
#          path: ${{ steps.instance_id.outputs.instance_id }}
